.waf*
.lock*
/tools/yui*.jar
/tools/compiler*.jar
/build/c4che
/build/*.zip
/build/*.log
ndn-protocol/modules/ndn-js.jsm
tools/micro-forwarder/extension/ndn.js

# JSDoc output
/doc

# Mac OSX
.DS_Store

# Emacs temp files
*~

# Downloaded protobuf/jsrsasign files
js/sync/node_modules/
js/sync/Protobuf/
js/sync/jsrsasign/

# NPM file
npm-debug.log

# Temporary test files
js/sync/hash-test.js

# Ignore installed dependencies
node_modules
