.waf*
.lock*
/tools/yui*.jar
/tools/compiler*.jar
/build/c4che
/build/*.zip
/build/*.log
ndnProtocol/modules/ndn-js.jsm
tools/forwarder/firefox/modules/ndn-js.jsm
tools/forwarder/ndn-forwarder.xpi

# JSDoc output
/doc

# Mac OSX
.DS_Store

# Emacs temp files
*~


